.perfil-main {
  max-width: 900px;
  margin: 30px auto;
  margin-bottom: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn-logout {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-login {
  background: darkblue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 80px;
}

.btn-logout:hover {
  background: #333;
}

.contenedor_perfil h1 {
  margin-bottom: 15px;
  color: #000;
}

.contenedor_perfil p {
  margin: 5px 0;
}

.historial_pedidos h2 {
  margin-top: 30px;
  color: #000;
}

.tabla-pedidos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pedido-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background: #f9f9f9;
}

.pedido-card h3 {
  margin-bottom: 10px;
  color: #000;
}

.pedido-card ul {
  list-style: none;
  padding: 0;
}

.pedido-card li {
  margin-bottom: 5px;
}

.detalle-label {
  color: #000;
  font-weight: bold;
}



.sin-pedidos {
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}


.pedido-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background: #f9f9f9;
}

.pedido-card h3 {
  margin-bottom: 10px;
  color: #000;
}

.detalle-label {
  color: #000;
  font-weight: bold;
}
