.login-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  margin-bottom: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 15px;
}

.login-btn {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  transform: translateY(5px);
}

.error-msg {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}

.ok-msg {
  color: green;
  font-size: 14px;
  margin: 5px 0;
}
